.DS_Store
*.png
__pycache__
.vscode
.mypy_cache
512px/*
256px/*
dataset/*
metadata/*
result*
mod.h5
*.pth
=9.0
*.ini
sketchify/col
sketchify/liners
sketchify/res
sketchify/sketch
test_img/
evaluate/
*.vec
